---
import Layout from "@layouts/Layout.astro";
import Logo from "@components/Logo.astro";
import RoomTitle from "@components/RoomTitle.astro";
import { turso } from "../../turso";

import People from "@components/People.svelte";

const { roomId } = Astro.params;
if (!roomId) throw new Error("Room ID is undefined");

const { rows: rooms } = await turso.execute({
  sql: "SELECT * FROM room WHERE id = ?",
  args: [roomId as string],
});
let roomName = roomId as string;
let pageTitle = "Your turn";
if (rooms.length === 0) {
  turso.execute({
    sql: "INSERT INTO room (id, name, alter_date) VALUES (?,?,?)",
    args: [roomId as string, roomId as string, new Date()],
  });
} else {
  roomName = rooms[0].name as string;
  pageTitle = roomName + " - Your turn";
  turso.execute({
    sql: "UPDATE room SET alter_date = ? WHERE id = ?",
    args: [new Date(), roomId as string],
  });
}

const { rows: peopleData } = await turso.execute({
  sql: "SELECT id, name FROM person WHERE room_id = ? order by position",
  args: [roomId as string],
});
---

<Layout title={pageTitle}>
  <div class="flex items-center space-x-4">
    <a href="/"><Logo width={100} height={100} /></a>
    <RoomTitle roomId={roomId}>{roomName}</RoomTitle>
  </div>

  <div class="space-y-4" id="list-people">
    <div id="people-names" data-people={JSON.stringify(peopleData.map((person) => person.name))}></div>
    <People client:only="svelte" />
  </div>
</Layout>
