---
import Layout from "../../layouts/Layout.astro";
import Person from "../../components/Person.astro";
---

<Layout title="Your turn">
  <div class="space-y-4">
    <Person id="1">Kevin</Person>
    <Person id="2">Desi</Person>
    <Person id="3">Alex</Person>
  </div>
</Layout>
