---
import Layout from "../layouts/Layout.astro";
import NewRoom from "../components/NewRoom.astro";
import Logo from "../components/Logo.astro";
const apiUrl = process.env.TURSO_DATABASE_URL || import.meta.env.TURSO_DATABASE_URL;
---
<Layout title="Your turn">
  
  <section class="flex flex-col justify-center items-center h-screen text-center">
    <h1 class="text-2xl font-semibold mb-4">Welcome to </h1>
    <Logo width={200} height={200} />
    <p class="mb-6 text-lg">
      This simple web application helps manage the team's tasks by rotating
      turns. If a team member is unavailable, their turn can be skipped,
      ensuring the tasks are still managed efficiently.
    </p>
    <NewRoom />
    <p class="mt-4">Or go to your previously created room.</p>
  </section>
</Layout>
